/********************* Deafult Start *********************/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.ciam-site {
    font-family: 'Poppins', sans-serif;
    color: #1D1A2F;
}

.btn {
    padding: 8px 35px;
    border-radius: 0;
}

.btn-primary {
    background-color: #1B172D;
    border-color: #1B172D;
}

.btn-check:focus+.btn-primary,
.btn-primary:focus,
.btn-check:active+.btn-primary,
.btn-check:checked+.btn-primary,
.btn-primary.active,
.btn-primary:active,
.show>.btn-primary.dropdown-toggle,
.btn-primary:hover {
    background-color: #1c1f36;
    border-color: #1c1f36;
}

.form-control:focus,
.form-select:focus,
.btn-check:focus+.btn-primary,
.btn-primary:focus,
.btn-check:active+.btn-primary:focus,
.btn-check:checked+.btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.slick-dots {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.slick-dots li {
    line-height: 0;
}

.slick-dots button {
    font-size: 0;
    background-color: #fff;
    border-color: #1B172D;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    padding: 0;
    margin: 0 5px;
}

.slick-active button {
    background-color: #1B172D;
}

.ciam-section-heading {
    text-align: center;
    margin-bottom: 60px;
}

.ciam-section-title {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 25px;
}

.ciam-section-description {
    width: 865px;
    margin: auto;
    max-width: 100%;
}

.ciam-section {
    padding: 100px 0;
}

.slick-track {
    display: flex !important;
}

a {
    transition: all ease-in-out 0.3s;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    left: -50px;
    font-size: 0;
    background-color: transparent;
    border: none;
    width: 40px;
    height: 25px;
    background-image: url(../images/slider-arrow.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateY(-50%);
}

.slick-next.slick-arrow {
    left: unset;
    right: -50px;
    transform: translateY(-50%) rotate( 180deg);
}

.ciam-user-login-btn button {
    background-color: transparent;
    border: none;
    padding: 0;
}

.form-select,
.form-control {
    border: 1px solid #DDDDDD;
    color: #1D1A2F;
    font-weight: 500;
}

.form-select::placeholder,
.form-control::placeholder {
    color: #1D1A2F;
    font-weight: 500;
}

.form-check-input {
    width: 20px;
    height: 20px;
    border: 1px solid rgba(37, 37, 37, 0.5);
    margin-top: 2px;
    margin-right: 10px;
}

.form-check-input:checked {
    background-color: #1b172d;
    border-color: #1b172d;
}

.form-check-input:focus {
    box-shadow: none;
}

.btn-success {
    background-color: #409690;
    border-color: #409690;
}

.btn-check:active+.btn-success,
.btn-check:checked+.btn-success,
.btn-success.active,
.btn-success:active,
.show>.btn-success.dropdown-toggle,
.btn-success:hover {
    background-color: #2c7e78;
    border-color: #2c7e78;
}


/********************* Deafult End *********************/


/********************* Header Start *********************/

.navbar-collapse {
    justify-content: center;
}

.navbar .nav-link {
    font-size: 18px;
    color: #323231;
    font-weight: 600;
}

.navbar .nav-link:hover {
    color: #323231;
    opacity: 0.8;
}

.navbar {
    padding: 25px 20px;
    box-shadow: 0px 5px 10px #0000001A;
}

.navbar .nav-link.btn-primary {
    color: #fff;
}

.navbar .nav-link.btn-primary:hover {
    opacity: 1;
}

.navbar .dropdown-menu {
    padding: 25px 20px;
}

.navbar .dropdown-menu .dropdown-item {
    padding: 10px 0;
    color: #1D1A2F;
}

.navbar .dropdown-menu li:not(:last-child) {
    border-bottom: 1px solid #fff;
}

.navbar .dropdown-menu li:nth-child(1) .dropdown-item {
    padding-top: 0;
}

.navbar .dropdown-menu li:last-child .dropdown-item {
    padding-bottom: 0;
}

.ciam-user-login-btn .dropdown-menu[data-bs-popper] {
    left: unset;
    right: 0;
    top: calc(100% + 10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.10);
}

.ciam-user-login-btn .dropdown-toggle img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #1B172D;
    object-fit: cover;
    object-position: center;
    margin-right: 20px;
}

.navbar .dropdown-item:focus,
.dropdown-item:hover {
    background-color: transparent;
    color: #1D1A2F;
    font-weight: 700;
}


/********************* Header End *********************/


/********************* Search Bar Start *********************/

.ciam-searchBar__inner {
    display: flex;
    width: 100%;
    background-color: #fff;
    border-radius: 12px;
    border: 1px solid #1B172D;
    box-shadow: 6px 6px 15px #00000014;
}

.ciam-searchBar {
    padding: 50px 0;
    background-color: #2A2C3C;
}

.ciam-searchBar .form-label {
    color: #252525;
    opacity: 0.5;
}

.ciam-searchBar-content {
    width: 33.33%;
    padding: 20px 30px;
}

.ciam-searchBar-content:not(:first-child) {
    border-left: 1px solid #1B172D;
}

.ciam-searchBar-btn {
    background-color: #1B172D;
    color: #fff;
    border: none;
    height: calc(100% + 1px);
    padding: 20px 35px;
    border-radius: 0 10px 10px 0;
    margin-right: -1px;
}

.ciam-searchBar-btn .material-icons {
    font-size: 50px;
}

.ciam-searchBar-content .form-control,
.ciam-searchBar-content .form-select {
    padding: 4px 0;
    border: none;
}

.ciam-searchBar-content .form-control {
    padding-left: 30px;
}

.ciam-searchBar-content .form-control::placeholder {
    color: #252525;
}

.ciam-searchBar-content .ciam-searchBar-input {
    position: relative;
}

.ciam-searchBar-content .ciam-searchBar-input::before {
    content: "\e0c8";
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    position: absolute;
    top: -3px;
    left: 0;
}

.ciam-searchBar-content:nth-child(2) .ciam-searchBar-input::before {
    display: none;
}

.ciam-searchBar-content:nth-child(3) .ciam-searchBar-input::before {
    content: "\e8b6";
}


/********************* Search Bar End *********************/


/********************* Home Page Start *********************/


/* Landing Section Start */

.ciam-landing-section {
    padding: 0;
}

.ciam-landing-slider .slick-dots {
    position: absolute;
    width: 100%;
    bottom: 35px;
    left: 0;
    margin-top: 0;
}


/* Landing Section End */


/* Find Specialities Doctor Section Start */

.ciam-find-specialities-doctors {
    background-image: linear-gradient(#A3D9FF, #D5FF98);
    position: relative;
}

.ciam-find-specialities-doctors__inner {
    position: relative;
    z-index: 1;
}

.ciam-find-specialities-doctors::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/specialities-doctors-back.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.ciam-find-specialities-card {
    text-align: center;
}

.ciam-find-specialities-name {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
}

.ciam-find-specialities-slide {
    margin: 0 20px;
}

.ciam-find-specialities-card img {
    width: 165px;
    height: 165px;
    max-width: 100%;
    border-radius: 50%;
    border: 5px solid #1B172D;
    margin: 0 auto 20px;
    object-fit: cover;
    object-position: center;
}

.ciam-section-bottom-btn {
    padding-top: 40px;
}


/* Find Specialities Doctor Section End */


/* Meet Specialities Doctor Section Start */

.ciam-meet-specialities-doctors {
    background-image: linear-gradient(#D5FF98, #A3D9FF);
}

.ciam-meet-specialities-slide {
    margin: 0 15px;
    height: inherit !important;
}

.ciam-slide-card {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ciam-slide-card-img img {
    height: 150px;
    border-radius: 10px 10px 0 0;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.ciam-slide-card-body {
    padding: 20px 15px;
    background-color: #fff;
    flex: 1 0 auto;
}

.ciam-slide-card-footer {
    padding: 0 15px 20px;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
}

.ciam-slide-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.ciam-doctor-name {
    font-size: 18px;
    margin-bottom: 10px;
}

.ciam-doctor-experience {
    margin-bottom: 0;
}

.ciam-doctor-address {
    margin-bottom: 0;
}

.ciam-doctor-address span {
    font-weight: 700;
}


/* Meet Specialities Doctor Section End */


/* Medicines Section Start */

.ciam-medicines-section {
    background-image: linear-gradient(#A3D9FF, #A3D9FF);
}

.ciam-product-card .ciam-slide-title {
    font-weight: 500;
    margin-bottom: 10px;
}

.ciam-product-description {
    margin-bottom: 10px;
}

.ciam-product-price {
    color: #2B2D3D;
    font-weight: 500;
    margin-bottom: 0;
}

.ciam-product-price span {
    opacity: 0.5;
}

.ciam-product-card .ciam-slide-card-img {
    padding: 15px 15px 30px 15px;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    position: relative;
}

.ciam-product-card .ciam-slide-card-img::after {
    content: "";
    width: calc(100% - 30px);
    left: 15px;
    height: 1px;
    background-color: #1B172D;
    position: absolute;
    bottom: 6px;
}

.ciam-product-card .ciam-slide-card-img img {
    border-radius: 0;
}


/* Medicines Section End */


/* Medicines Section End */

.ciam-popular-products-section {
    background-image: linear-gradient(#A3D9FF, #D5FF98);
}

.ciam-product-card .ciam-slide-card-img img {
    object-fit: contain;
}

.ciam-health-checkups {
    background-image: linear-gradient(#D5FF98, #FFD26C);
}

.ciam-doctor-experience a {
    color: #1D1A2F;
    text-decoration: none;
}

.ciam-trusted-geniune-laboratory {
    background-image: linear-gradient(#FFD26C, #FF9FF0);
}


/* Medicines Section End */


/* Home Care Services Section Start */

.ciam-home-care-services {
    background-image: linear-gradient(#FF9FF0, #FFD26C);
}

.ciam-service-card {
    background-color: #1B172D;
    text-align: center;
    color: #fff;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ciam-service-card-icon {
    height: 75px;
    width: 100%;
    margin-bottom: 25px;
}

.ciam-service-card-icon img {
    height: 100%;
    object-fit: contain;
    object-position: center;
    width: auto;
}

.ciam-service-card-title {
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}

.ciam-service-card-title:hover {
    color: #fff;
    opacity: 0.8;
}

.ciam-home-care-services-content .col {
    margin-bottom: 20px;
}

.ciam-home-care-subcategory {
    background-image: linear-gradient(#FFD26C, #FFD26C);
}


/* Home Care Services Section End */


/* Our Mission Section End */

.ciam-our-mission {
    background-image: linear-gradient(#FFD26C, #FF9FF0);
}

.ciam-our-mission>.ciam-section-heading {
    margin-bottom: 200px;
}

.ciam-testimonial-card {
    text-align: center;
}

.ciam-rating-list {
    padding: 0;
    margin-bottom: 20px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ciam-testimonial-user-name {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

.ciam-testimonial-description {
    font-weight: 500;
    margin-bottom: 0;
    position: relative;
}

.ciam-testimonial-description:before,
.ciam-testimonial-description:after {
    content: "";
    width: 85px;
    height: 85px;
    position: absolute;
    top: 100%;
    right: 0;
    background-image: url(../images/testimonial-quote.png);
}

.ciam-testimonial-description:before {
    top: unset;
    bottom: 100%;
    right: unset;
    left: 0;
    transform: rotate( 180deg);
}

.ciam-testimonial-img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 4px solid #1B172D;
    margin: 0 auto 20px;
}


/* Our Mission Section End */


/* Download Application Section Start */

.ciam-download-application {
    background-image: linear-gradient(#FF9FF0, #A3D9FF);
}

.ciam-download-application .row {
    align-items: center;
}

.ciam-download-application-content .ciam-section-description {
    margin-bottom: 40px;
}

.ciam-download-app-list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.ciam-download-app-link {
    display: block;
}

.ciam-download-app-item:not(:last-child) {
    margin-right: 25px;
}


/* Download Application Section End */


/********************* Home Page End *********************/


/********************* Profile Page Start *********************/

.ciam-dashboard-section {
    background-image: linear-gradient(#A3D9FF, #D5FF98, #FFD26C, #FF9FF0);
}

.ciam-dashboard-sidebar {
    background-color: #1B172D;
    border-radius: 10px 0 0 10px;
    padding: 10px 0 50px;
    position: relative;
    z-index: 1;
    height: 100%;
}

.ciam-sidebar-user {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 25px 30px;
    position: relative;
}

.ciam-sidebar-user:after {
    content: "";
    width: calc(100% - 50px);
    position: absolute;
    height: 1px;
    background-color: #fff;
    bottom: 0;
}

.ciam-sidebar-user img {
    margin-right: 20px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #ffff;
    object-fit: cover;
    object-position: center;
}

.cial-sidebar-menu-list {
    padding-left: 25px;
    margin: 45px 0;
    list-style: none;
}

.cial-sidebar-menu-link {
    padding: 20px 40px;
    display: block;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    border-radius: 30px 0 0 30px;
}

.cial-sidebar-menu-link:hover,
.cial-sidebar-menu-link.active {
    background-color: #fff;
    color: #252525;
}

.cial-sidebar-menu-link svg {
    margin-right: 15px;
}

.cial-sidebar-menu-link:hover path[fill="#fff"],
.cial-sidebar-menu-link.active path[fill="#fff"] {
    fill: #000 !important;
}

.ciam-dashboard-content {
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgb(0 0 0 / 16%);
    border-radius: 0 10px 10px 0;
    height: 100%;
}

.ciam-dashboard-content__inner {
    padding: 20px;
    border: 1px solid #1B172D;
    border-radius: 10px;
    height: 100%;
}

.nav-tabs {
    border-bottom: 1px solid #1B172D;
}

.nav-tabs .nav-link {
    font-size: 18px;
    font-weight: 600;
    color: #252525;
    border: none;
    background-color: transparent;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover,
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: transparent;
    border: none;
    color: #409690;
}

.ciam-tab-content {
    padding-top: 30px;
}

.ciam-fileInput {
    position: relative;
}

.ciam-fileInput .form-control {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.ciam-fileInput-text {
    display: block;
    padding: 8px;
    background-color: #DDDDDD;
    border-radius: 4px;
    text-align: center;
    font-weight: 500;
}

.form-label {
    font-size: 14px;
    font-weight: 500;
    opacity: 0.5;
}


/********************* Profile Page End *********************/


/********************* My Appointment Page Start *********************/

.ciam-appointment-card-body {
    padding: 20px;
    flex: 1 0 auto;
}

.ciam-appointment-card-footer {
    padding: 0 20px 20px;
}

.ciam-appointment-card {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ciam-appointment-card-img img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0 0;
}

.ciam-order-card-title,
.ciam-card-details {
    margin-bottom: 5px;
    font-weight: 500;
}

.ciam-card-details:last-child {
    margin-bottom: 0;
}

.ciam-card-details-title {
    opacity: 0.5;
}

.ciam-appointment-card-footer .btn {
    padding: 8px;
}

.ciam-appointment-content .col {
    margin-bottom: 30px;
}


/********************* My Appointment Page End *********************/


/********************* My Order Page Start *********************/

.ciam-order-content .col {
    margin-bottom: 20px;
}

.ciam-order-card-heading {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 15px;
}

.ciam-order-card {
    padding: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
}

.ciam-order-card-body .row {
    align-items: center;
}


/********************* My Order Page End *********************/


/********************* My Review Page Start *********************/

.ciam-review-card-heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
}

.ciam-review-user {
    display: flex;
    align-items: center;
}

.ciam-review-rating-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.ciam-review-user-img {
    margin-right: 20px;
}

.ciam-review-user-img img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 1px solid #1B172D;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
}

.ciam-review-user-title {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 600;
}

.ciam-review-date {
    color: #409690;
    font-weight: 600;
    margin-bottom: 0;
}

.ciam-review-card {
    padding: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    background-color: #fff;
}

.ciam-review-description {
    margin-bottom: 0;
}

.ciam-review-content .col {
    margin-bottom: 20px;
}

.ciam-wallet-balance-title {
    font-size: 22px;
    text-align: center;
    font-weight: 600;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #1B172D;
}

.ciam-wallet-balance-title span {
    color: #409690;
}

.ciam-doctor-designation {
    font-size: 18px;
    font-weight: 500;
}

.ciam-doctor-details-list {
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.ciam-doctor-details-item:not(:last-child) {
    margin-right: 40px;
}

.ciam-doctor-details-item svg {
    margin-right: 15px;
}


/********************* My Review Page End *********************/


/********************* Search Profile Page End *********************/

.ciam-search-landing-section {
    padding: 250px 150px;
    background-image: url(../images/search-landing-back.png);
    background-size: cover;
    background-position: center;
}

.ciam-search-landing-section .ciam-section-title {
    margin: 0 auto 130px;
    font-size: 60px;
    color: #fff;
    text-align: center;
    width: 950px;
}

.ciam-search-landing-section .ciam-searchBar-content {
    width: 50%;
}

.ciam-search-landing-section .ciam-searchBar__inner {
    width: 980px;
    margin: auto;
}

.ciam-search-landing-section .ciam-searchBar-content:nth-child(2) .ciam-searchBar-input::before {
    content: "\e8b6";
    display: block;
}

.ciam-serch-profile-section {
    background-image: linear-gradient(#A3D9FF, #D5FF98, #FFD26C, #FF9FF0);
}

.ciam-filter-title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #1D1A2F;
}

.ciam-filter-bar {
    background-color: #ffff;
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
}

.ciam-filter-bar .accordion-button {
    padding: 0;
    color: #1D1A2F;
    font-size: 18px;
    font-weight: 600;
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin-bottom: 15px;
}

.ciam-filter-bar .accordion-item {
    border: none;
    margin-bottom: 30px;
}

.ciam-filter-bar .accordion-body {
    padding: 0;
}

.ciam-filter-check-content .form-check {
    margin-bottom: 10px;
}

.ciam-filter-bar .accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg id='expand_more_black_24dp' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath id='Path_2057' data-name='Path 2057' d='M24,24H0V0H24Z' fill='none' opacity='0.87'/%3E%3Cpath id='Path_2058' data-name='Path 2058' d='M16.59,8.59,12,13.17,7.41,8.59,6,10l6,6,6-6Z' fill='%231d1a2f'/%3E%3C/svg%3E%0A");
}

.ciam-filter-bar .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg id='expand_more_black_24dp' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath id='Path_2057' data-name='Path 2057' d='M24,24H0V0H24Z' fill='none' opacity='0.87'/%3E%3Cpath id='Path_2058' data-name='Path 2058' d='M16.59,8.59,12,13.17,7.41,8.59,6,10l6,6,6-6Z' fill='%231d1a2f'/%3E%3C/svg%3E%0A");
    transform: rotate( -180deg);
}

.ciam-shop-product-slider {
    margin-bottom: 70px;
}

.ciam-shop-medicine-content .ciam-product-card {
    border: 1px solid #1B172D;
    border-radius: 10px;
}

.ciam-shop-product-slider .ciam-slide-card-footer {
    padding: 0;
    border-top: 1px solid #1B172D;
}

.ciam-shop-product-slider .ciam-product-card {
    border: 1px solid #1B172D;
    border-radius: 10px;
}

.ciam-shop-product-slider .ciam-slide-card-footer .btn {
    padding: 20px 20px;
    border-radius: 0 0 10px 10px;
}

.ciam-shop-product-slider .ciam-slide-card-img {
    padding-bottom: 15px;
}

.ciam-shop-product-slider .ciam-slide-card-img::after {
    display: none;
}

.ciam-shop-medicine-title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 50px;
    margin-left: 15px;
}


/********************* Search Profile Page End *********************/


/********************* Cart Page Start *********************/

.ciam-cart-section {
    background-image: linear-gradient(#A3D9FF, #D5FF98, #FFD26C, #FF9FF0);
}

.ciam-cart-content {
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
    height: 100%;
}

.ciam-cart-table .table {
    vertical-align: middle;
}

.ciam-cart-product-img img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    object-position: center;
    border: 1px solid #1B172D;
}

.ciam-cart-table tr:last-child td,
.ciam-cart-table tr:last-child th {
    border-bottom-color: #1B172D;
}

.ciam-cart-total-content {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
    height: 100%;
}

.ciam-cart-total-title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #1B172D;
}


/********************* Cart Page End *********************/


/********************* Ask Question Page Start *********************/

.ciam-ask-question-section {
    background-image: linear-gradient(#A3D9FF, #D5FF98, #FFD26C, #FF9FF0);
}

.ciam-ask-question-content {
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0 0 0 / 16%);
}

.ciam-ask-question-content__inner {
    padding: 30px;
    border: 1px solid #1B172D;
    border-radius: 10px;
}

.ciam-ask-question {
    padding: 20px 25px;
    border-radius: 10px;
    background-color: #ffff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
    margin-bottom: 30px;
}

.ciam-ask-question-title {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 600;
}

.ciam-question-answer-user {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.ciam-question-answer-user img {
    margin-right: 20px;
    width: 45px;
    height: 45px;
    object-fit: cover;
    object-position: center;
    border: 1px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
}

.ciam-question-answer-user label {
    font-size: 18px;
    font-weight: 600;
}

.ciam-question-answer-card {
    padding: 25px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
}

.ciam-question-answer-card:not(:last-child) {
    margin-bottom: 30px;
}

.ciam-question-answer-card-header {
    background-color: rgba(27, 23, 45, 0.1);
    border-radius: 10px 10px 0 0;
    padding: 20px 30px;
    margin-bottom: 10px;
}

.ciam-question-answer-title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.ciam-card-question {
    font-size: 18px;
    font-weight: 600;
    max-width: 50%;
}

.ciam-question-answer-title label {
    font-size: 18px;
    color: #409690;
    font-weight: 600;
}

.ciam-question-card-answer {
    padding: 10px 0;
}

.ciam-question-card-answer-description {
    margin-bottom: 0;
}

.ciam-question-card-answer-user {
    font-weight: 600;
}

.ciam-question-answer-card-body .input-group {
    margin-top: 20px;
}


/********************* Ask Question Page End *********************/


/********************* Service Page Start *********************/

.ciam-service-landing {
    background-image: url(../images/service-back.png);
    background-size: cover;
    background-position: center;
    padding: 300px 0;
}

.ciam-service-landing-content {
    text-align: center;
    color: #fff;
}

.ciam-our-services {
    background-image: linear-gradient(#A3D9FF, #D5FF98);
}

.ciam-patient-testimonial {
    background-image: linear-gradient(#D5FF98, #FFD26C);
}

.ciam-service-landing-content .ciam-section-subtitle {
    font-size: 40px;
    margin-bottom: 25px;
}

.ciam-service {
    background-image: linear-gradient(#FFD26C, #FF9FF0);
}

.ciam-service__inner .row {
    align-items: center;
}

.ciam-service-img {
    text-align: center;
}

.ciam-service-content .ciam-section-description {
    margin-bottom: 25px;
    font-size: 18px;
}

.ciam-section-label {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
}

.ciam-search-form-content,
.modal-content {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.10);
    padding: 30px;
    border-radius: 10px;
}

.modal-header {
    padding: 0;
    padding-bottom: 25px;
    border-bottom-color: #1D1A2F;
}

.ciam-search-form-title,
.modal-title {
    color: #1D1A2F;
    font-weight: 600;
    font-size: 26px;
}

.ciam-search-form-content .form-select,
.ciam-search-form-content .form-control,
.ciam-BookNowModal .form-select,
.ciam-BookNowModal .form-control {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    padding: 10px 15px;
}

.ciam-search-form-content .col-form-label,
.ciam-BookNowModal .col-form-label {
    color: #1D1A2F;
    opacity: 1;
    font-weight: 500;
}

.ciam-book-appoinment-content .ciam-review-card {
    display: flex;
    padding: 0;
}

.ciam-book-appoinment-content .ciam-review-card-detail {
    padding: 30px 40px;
}

.ciam-book-appoinment-content .ciam-review-card-img {
    min-width: 350px;
}

.ciam-book-appoinment-content .ciam-review-card-img img {
    border-radius: 10px 0 0 10px;
}

.ciam-starting-price {
    color: #409690;
}

.ciam-search-form-title {
    padding-bottom: 25px;
    margin-bottom: 30px;
    border-bottom: 1px solid #252525;
}

.ciam-form-search-landing-section {
    padding: 50px 0;
}


/********************* Service Page End *********************/


/********************* Footer Start *********************/

.ciam-site-footer {
    background-color: #409690;
    color: #ffffff;
}

.ciam-site-footer-content {
    padding: 50px 0;
}

.ciem-site-footer-info {
    padding: 25px 0;
}

.ciem-site-footer-info-text {
    text-align: center;
    margin-bottom: 0;
}

.ciam-site-footer-content {
    padding: 50px 0;
    border-bottom: 1px solid #fff;
}

.ciam-footer-menu-list {
    padding: 0;
    margin-bottom: 0;
    list-style: none;
}

.ciam-footer-menu-title {
    font-size: 18px;
    margin-bottom: 30px;
}

.ciam-footer-menu-link {
    color: #fff;
    text-decoration: none;
}

.ciam-footer-menu-item {
    margin-bottom: 10px;
}

.ciam-footer-menu-link:hover {
    color: #ffff;
    opacity: 0.8;
}

.ciam-social-list {
    padding: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.ciam-social-item:not(:last-child) {
    margin-right: 40px;
}

.ciam-footer-logo {
    margin-bottom: 25px;
}

.ciam-footer-description {
    margin-bottom: 30px;
}


/********************* Footer End *********************/


/********************* Responsive Start *********************/

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (max-width: 1600px) {
    .navbar .nav-link {
        font-size: 16px;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 10px;
        padding-left: 10px;
    }
}


/********************* Responsive End *********************/